package finalizer

import (
	"context"
    "gitlab.dds-sysu.tech/691729768/autopilot/pkg/ezkube"
    "gitlab.dds-sysu.tech/691729768/autopilot/pkg/utils"

    {{.Version}} "{{.TypesImportPath}}"
)

// EDIT THIS FILE!  THIS IS SCAFFOLDING FOR YOU TO OWN!

type Finalizer struct {
    Client ezkube.Client
}

func (f *Finalizer) Finalize(ctx context.Context, {{$.KindLowerCamel}} *{{.Version}}.{{.Kind}}) error {
    panic("implement me!")
}
